In [18]:
import pandas as pd
data = pd.read_csv("C:/Assinments prob & data sets/delivery_time.csv")
data.head()

   Delivery Time  Sorting Time
0          21.00            10
1          13.50             4
2          19.75             6
3          24.00             9
4          29.00            10

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Delivery Time  21 non-null     float64
 1   Sorting Time   21 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 464.0 bytes

In [20]:
data.isnull().sum()

Delivery Time    0
Sorting Time     0
dtype: int64

In [21]:
data.corr()

               Delivery Time  Sorting Time
Delivery Time       1.000000      0.825997
Sorting Time        0.825997      1.000000

In [22]:
data1=data.rename(columns={'Delivery Time':'DT','Sorting Time':'ST'})

In [23]:
import statsmodels.formula.api as smf
model = smf.ols("DT~ST",data = data1).fit()

In [24]:
model.params

Intercept    6.582734
ST           1.649020
dtype: float64

In [25]:
print(model.tvalues, '\n', model.pvalues)

Intercept    3.823349
ST           6.387447
dtype: float64
 Intercept    0.001147
ST           0.000004
dtype: float64

In [26]:
(model.rsquared,model.rsquared_adj)

(0.6822714748417231, 0.6655489208860244)

In [27]:
newdata=pd.Series([10,6,9,10])

In [33]:
data1_pred=pd.DataFrame(newdata,columns=['ST'])

In [35]:
data_pred

   sorting_time
0            10
1             6
2             9
3            10

In [39]:
model.predict(data1_pred)

0    23.072933
1    16.476853
2    21.423913
3    23.072933
dtype: float64